<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <h1 style="padding-left: 20px; padding-right: 20px; text-align: justify;">Warm Welcome to You!</h1>
 <h3 style="padding-left: 20px; padding-right: 20px; text-align: justify;">Thank you for visiting the Photo App!</h3>
 <ion-img style="display:block; margin-left: auto; margin-right: auto; width: 75%;"
  src="/assets/photography.jpg"
  alt="Image of a digital camera"
></ion-img>
 <h5 style="padding-left: 20px; padding-right: 20px; text-align: justify;">Capture the world around you, immortalize moments, and unleash your creativity with our intuitive and feature-rich platform. Whether you're an amateur shutterbug or a seasoned pro, this app is designed to cater to your every need.</h5>
 <h4 style="padding-left: 20px; padding-right: 20px; text-align: justify;">To interact with the app:</h4>
 <h5 style="padding-left: 20px; padding-right: 20px; text-align: justify;">Click on the camera tab to access the camera.</h5>
 <h5 style="padding-left: 20px; padding-right: 20px; text-align: justify;">Click on the gallery tab to access your saved photos.</h5>
</ion-content>
